/* Questionnaire.css */

.questionnaire-container {
  text-align: center;
  padding: 50px;
  font-family: Arial, sans-serif;
  position: relative; /* Add this line */
}

.progress-bar-container {
  width: 100%;
  background-color: #f3f3f3;
  height: 20px;
  margin-bottom: 20px;
  border-top-right-radius: 15px; /* Rounded only on the right side */
  border-bottom-right-radius: 15px; /* Rounded only on the right side */
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.progress-bar {
  height: 100%;
  background: linear-gradient(to right, #2a7cba, #1a5fba); /* Blue gradient */
  transition: width 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-top-right-radius: 15px; /* Match parent container */
  border-bottom-right-radius: 15px; /* Match parent container */
}

.progress-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px; /* Add this line to give space from top */
}

.back-button {
  position: absolute;
  top: 50px; /* Adjust the position as needed */
  left: 20px;
}

.back-button a {
  text-decoration: none;
  color: #2a7cba;
  font-size: 16px;
  cursor: pointer;
}

.centered-country-selector {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.centered-country-selector .react-country-flag-selector,
.DateMonth-selector .react-country-flag-selector {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}

.centered-country-selector .react-country-flag-selector:focus,
.DateMonth-selector .react-country-flag-selector:focus {
  border-color: #2a7cba !important;
  outline: none;
  box-shadow: 0 0 5px rgba(42, 124, 186, 0.5);
}

.greeting {
  margin-top: 40px;
}

.greeting h2 {
  font-size: 24px;
  color: #4a4a4a;
}

.question {
  margin-top: 20px;
}

.question h1 {
  font-size: 28px;
  color: #2c3e50;
}

.question p {
  margin-top: 10px;
  font-size: 18px;
  color: #7f8c8d;
}

.response-buttons {
  margin-top: 30px;
}

.response-button {
  background-color: white;
  border: 1px solid #2a7cba;
  color: #2a7cba;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.response-button:hover {
  background-color: #2a7cba;
  color: white;
}

.submit-button {
  background-color: #2a7cba;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  border-radius: 5px;
  border: none;
  transition: background-color 0.3s;
}

.submit-button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.input-field {
  display: block;
  width: 40%;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc; /* Default border color */
  border-radius: 5px;
  background-color: white;
  color: #2c3e50; /* Default text color */
  transition: border-color 0.3s, box-shadow 0.3s; /* Transition for smooth effect */
}

.input-field:focus {
  border-color: #2a7cba; /* Blue border color on focus */
  outline: none; /* Remove default outline */
  box-shadow: 0 0 5px rgba(42, 124, 186, 0.5); /* Shadow effect on focus */
}

.checkbox-input {
  margin-right: 10px;
}

.terms-label {
  font-size: 16px;
  color: #7f8c8d;
}

.DateMonth-selector {
  margin-top: 30px; /* Adjust this value to move the field lower */
}
